/*global css*/
body{
	background-color: #558088;
	color: #333;
}

a:link{
	color: #333;
	transition-property: all;
 	transition-duration: 0.2s;
 	transition-timing-function: ease-in;
}
a:hover{
	color: #333;
}
a:active{

}
a:visited{
	
}

/**/
.g-warp{
	width: 36rem;
	margin: 0 30% 0 20%;
	padding: 3rem 0 2rem 0;
}

/*common module*/
.m-nav{
	height: 5rem;
	line-height: 5rem;
	padding: 0 1rem;
	background-color: #eaeaea;
	border-radius: .5rem .5rem 0 0;
}
.m-header{
	height: 5rem;
	line-height: 5rem;
	padding: 0 1rem;
	color: #fff;
	background-color: #A2D409;
}
.m-con{
	padding: 1rem;
	background-color: #fff;
}
.m-footer{
	padding: 1rem;
	color: #ccc;
	background-color: #333;
	border-radius: 0 0 .5rem .5rem;
}

.u-bg-line{
	position: absolute;
	top: 8rem;
	left: 0;
	z-index: -1;
	width: 100%;
}
.u-bg-line::before{
	content: "";
	display: block;
	height: 1rem;
	margin-bottom: .5rem;
	background-color: rgba(0,0,0,0.1);
}
.u-bg-line::after{
	content: "";
	display: block;
	height: 3.5rem;
	background-color: rgba(0,0,0,0.1);
}

.m-post-list{

}
.m-post-list > li{
	border-bottom: #eee 1px solid;
	padding: 1rem 0;
}

.m-foot-nav{
	padding: 1rem;
	background-color: #eaeaea;
}