/*global css*/
body{
	background-color: #d8d8d8;
}

a{
	color: #009A7F;
	transition-property: all;
 	transition-duration: 0.2s;
 	transition-timing-function: ease-in;
}
a:hover{
	color: #333;
}

/**/
.g-max-w{
	max-width: 60rem;
	margin: 0 auto;
}
.g-warp{
	display: flex;
	margin-bottom: 1rem;
	border-radius: .5rem;
	overflow: hidden;
}
.g-side-bar{
	flex: 1;
}
.g-container{
	flex: 2;
	background-color: #fff;
}

/*common module*/
.m-main-header{
	height: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
	background-color: #333;
}
.m-main-footer{
	padding: 1rem 0;
	color: #666;
	background-color: #333;
}

/**/
.m-h-con{
	display: flex;
}
.m-h-con a{
	color: #ddd;
}
.m-h-con a:hover{
	color: #fff;
}
.m-h-con .logo{
	line-height: 3rem;
	margin-bottom: 0;
	font-size: 1rem;
	color: #EABA11;
}
.m-h-con .logo a{
	display: block;
	color: #EABA11;
}
.m-h-con .nav{
	flex: 1.5;
	display: flex;
	margin: 0 1rem;
}
.m-h-con .nav li{
	flex: 1;
}
.m-h-con .nav a{
	display: block;
	text-align: center;
	/*background: #009A7F;*/
}
.m-h-con .nav a:hover{
	/*background: #004D40;*/
	background: #009A7F;
}

.m-h-con .search{
	flex: 1;
	display: flex;
 	justify-content: flex-end;
}
.m-h-con .search input{
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	margin-top: 0.5rem;
	border: none;
	text-indent: -10rem;
	opacity: 0.6;
}
.m-h-con .search input:focus{
	width: 20rem;
	padding: 0 1rem;
	text-indent: 0;
	opacity: 1;
}
.m-h-con .usr{
	padding-left: 1rem;
}

/*post style module*/
.m-post-list{
	
}
.m-post-list li{
	padding: 1rem;
	border-bottom: #ddd 1px dotted;
}
.m-post-list .title{
	margin-bottom: 1rem;
}
.m-post-list .content{
	margin-bottom: 1rem;
}
.m-post-list .meta{
	color: #999;
}
.m-post-info{
	margin-bottom: 1rem;
}
.m-post-info .title{

}
.m-post-info .con{
	
}

.m-page-num{
	line-height: 2rem;
	background-color: #fff;
	overflow: hidden;
}
.m-page-num li{
	float: left;
	
}
.m-page-num a{
	padding: 0 1rem;
	display: block;
}
.m-page-num a:hover{
	background-color: #efefef;
}

.m-side-bar{
	background-color: #f3f3f3;
}
.m-bar-item{
	padding: 1rem;
}
.m-bar-item > h3{
	margin-bottom: 1rem;
}

.login{
	width: 20rem;
	min-height: 10rem;
	padding: 2rem;
	margin: 0 auto 1rem auto;
}
.login .usr,
.login .pass{
	width: 18rem;
	padding: 0 1rem 0 2rem;
	margin-bottom: 1rem;
}
.login .btn{
	padding: 0 1rem;
}

/*unit*/
.u-ipt-h{
	height: 2rem;
	font-size: 1rem;
}

/*animation*/
.a-trs{
	transition-property: all;
 	transition-duration: 0.2s;
 	transition-timing-function: ease-in;
}

/*media 640px*/
@media screen and (max-width: 40rem) {
	.g-max-flex.g-warp{
		display: block;
	}
	.g-container{
		padding-right: 0;
	}
	.g-side-bar{
		padding-left: 0;
	}

	.m-h-con .nav{
		display: none;
	}
	.m-h-con .search input:focus{
		width: 70%;
	}
}