body,h1,h2,h3,h4,h5,h6,p,ol,ul,input{
	padding: 0;
	margin: 0;
	
}
body{
	line-height: 1.5rem;
	font-size: 1rem;
	font-family: Microsoft YaHei,sans-serif;
}
h1{
	font-size: 1.6rem;
}
h2{
	font-size: 1.4rem;
}
h3{
	font-size: 1.2rem;
}
h4,h5,h6{
	font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.2em;
	margin-bottom: 0.2rem;
}
ul, ol{
	list-style: none;
	list-style-position: outside;
}
input[type=checkbox],input[type=radio]{
	/*appearance: none;*/
	width: 1.2rem;
	height: 1.2rem;
	margin: 0;
	cursor: pointer;
}
input:focus{
	outline: none;
}

button{
	padding: 5px 10px;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: blue;
}
