/*global css*/
body{
	background-color: #f6f6f6;
}

a{
	color: #009A7F;
}
a:hover{
	color: #333;
	transition-property: all;
 	transition-duration: 0.4s;
 	transition-timing-function: ease-in;
}

/**/
.g-max-flex{
	display: flex;
	max-width: 60em;
	padding: 0 1em;
	margin: 0 auto;
}
.g-warp{

}
.g-side-bar{
	flex: 1;
	padding-left: 1em;
}
.g-container{
	flex: 2;
	padding-right: 1em;
	word-wrap: break-word;
}

/*common module*/
.m-main-header{
	height: 3em;
	line-height: 3em;
	margin-bottom: 1em;
	background-color: #333;
}
.m-main-footer{
	padding: 1em 0;
	color: #666;
	background-color: #ddd;
}

/**/
.logo{
	font-size: 1em;
	color: #EABA11;
}
.logo a{
	display: block;
	color: #EABA11;
}

.nav{
	flex: auto;
	display: flex;
	margin: 0 1em;
}
.nav a{
	display: block;
	flex: 1;
	text-align: center;
	background: #009A7F;
	color: #fff;
}
.nav a:hover{
	background: #004D40;
}

.search{
}
.search input{
	display: block;
	width: 3em;
	height: 3em;
	line-height: 3em;
	border: none;
	opacity: 0.6;
}
.search input:focus{
	width: 20em;
	padding: 0 1em;
	opacity: 1;
}

ul.m-post-list{

}
ul.m-post-list li{
	margin-bottom: 1.5em;
}
ul.m-post-list .title{
	font-size: 1.5em;
}
ul.m-post-list .meta{
	
}
ul.m-post-list .title,
ul.m-post-list .content{
	margin-bottom: 0.5em;
}
.m-post-info{
	margin-bottom: 1em;
}
.m-post-info .title{

}
.m-post-info .con{
	
}

.login{
	width: 20em;
	min-height: 10em;
	padding: 2em;
	margin: 0 auto 1em auto;
}
.login .usr,
.login .pass{
	width: 18em;
	padding: 0 1em 0 2em;
	margin-bottom: 1em;
}
.login .btn{
	padding: 0 1em;
}

/*unit*/
.u-ipt-h{
	height: 2em;
}

/*animation*/
.a-trs{
	transition-property: all;
 	transition-duration: 0.2s;
 	transition-timing-function: ease-in;
}

/*media*/
@media screen and (max-width: 30em) {
	.g-max-flex.g-warp{
		display: block;
	}
	.g-container{
		padding-right: 0;
	}
	.g-side-bar{
		padding-left: 0;
	}
}