/*global css*/
body{
	background-color: #f6f6f6;
}

a{
	color: #333;
}

header{
	display: flex;
	height: 2em;
	line-height: 2em;
	background-color: #333;
	font-size: 1em;
}

h1.logo{
	padding: 0 1em;
	font-size: 1em;
	color: #EABA11;
}
h1.logo a{
	display: block;
	color: #EABA11;
}

.nav{
	flex: auto;
	display: flex;
	height: 2em;
	line-height: 2em;
}
.nav a{
	display: block;
	flex: 1;
	text-align: center;
	background: #009A7F;
	color: #fff;
}
.nav a:hover{
	background: #004D40;
}

.search{
	padding: 0 1em;
}
.search input{
	width: 10em;
}
.search input::placeholder{
	color: #333;
}
.search input:focus{
	width: 20em;
}

footer{
	color: #ccc;
	line-height: 2em;
	text-align: center;
}

.warp{
	display: flex;
	max-width: 50em;
	margin: 0 auto;
}

.content{
	flex: 3;
	word-wrap: break-word;
}

.side-bar{
	flex: 1;
	background-color: #eee;
}

.login{
	width: 30em;
	margin: 0 auto;
}

@media screen and (max-width: ) {

}