html, body{
	height: 100%;
}

body{
	font-size: 1em;
}

header{
	height: 60px;
	margin-bottom: 10px;
	border-bottom: #ccc solid 1px;
}

header h1{
	float: left;
	padding: 0 10px;
	color: #ccc;
}

.warp{
	overflow: hidden;
}

.side-bar{
	box-sizing: border-box;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	border: #ccc 1px solid;
	float: left;
}
.side-bar h3{
	font-size: 1em;
}

.content{
	box-sizing: border-box;
	width: calc(100% - 210px);
	padding: 10px;
	float: left;
	border: #ccc 1px solid;
}

.add-post{

}

.add-post .post-name{
	width: 30em;
	height: 2em;
	line-height: 2em;
	padding: 0 10px;
	font-size: 1em;
}
.add-post .post-content{
	width: 30em;
	height: 15em;
	font-size: 1em;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 1em;
	text-align: center;
	font-size: .5em;
	background-color: #efefef;
	color: #ccc;
}