body{
	font-size: 1rem;
}

.warp{
	display: flex;
}
.home-header{
	display: flex;
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	background-color: #efefef;
}
.home-header a{
	display: inline-block;
	padding: 0 1rem;
}
.home-header a:hover{
	background-color: #555;
	color: #fff;
}
.home-header .logo{
	color: #ccc;
}
.home-header .search{
	flex: auto;
	padding: 0 1rem;
}
.side-bar{
	flex: 1;
	padding: 1rem;
	border-left: #ccc solid 0.1rem;
}
.side-bar h3{
	font-size: 1em;
}
.content{
	flex: 5;
	padding: 1rem;
}
.footer{
	padding: 1rem;
	text-align: center;
	background-color: #efefef;
	color: #ccc;
}



.post-form p{
	margin-bottom: 1rem;
}
.post-form .post-name{
	width: calc(100% - 2rem);
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	font-size: 1rem;
}
.post-form .post-content{
	width: calc(100% - 2rem);
	height: 15rem;
	line-height: 1rem;
	padding: 1rem;
	font-size: 1rem;
}


.post-list{
	background-color: #fff;
}
.post-list li{
	padding: 0.5em 0;
	border-bottom: #dfdfdf 1px solid;
}
.post-list li:last-child{
	border-bottom: none;
}
.post-list li:hover{
	background-color: rgba(100, 200, 50, 0.1);
}