html, body{
	height: 100%;
}

body{
	font-size: 1rem;
}

.warp{
	display: flex;
	padding-left: 1rem;
}

.home-header{
	display: flex;
	height: 2rem;
	line-height: 2em;
	padding: 0 1rem;
	background-color: #efefef;
}
.home-header .logo{
	
}
.home-header .nav{
	flex: auto;
}

.home-header,
.side-bar,
.content,
.post-form,
.post-form .post-name,
.post-form .post-content{
	box-sizing: border-box;
}

.side-bar{
	position: fixed;
	top: 50px;
	right: 0;
	width: 16rem;
	padding: 1rem;
	border: #ccc 1px solid;
}
.side-bar h3{
	font-size: 1em;
}

.content{
	width: calc(100% - 310px);
	padding: 10px;
	float: left;
}

.post-form p{
	margin-bottom: 10px;
}

.post-form .post-name{
	width: 100%;
	height: 2em;
	line-height: 2em;
	padding: 0 10px;
	font-size: 1em;
}
.post-form .post-content{
	width: 100%;
	height: 15em;
	font-size: 1em;
}

.post-list{
	background-color: #fff;
}
.post-list li{
	padding: 0.5em 0;
	border-bottom: #efefef 1px solid;
}
.post-list li:last{
	border-bottom: none;
}
.post-list h2{
	line-height: 1.5em;
}
.post-list .tags{
	overflow: hidden;
}
.post-list .tags b,
.post-list .tags span{
	float: left;
	margin-right: 10px;
}
.post-list .tags span{
	display: block;
	height: 1.4em;
	line-height: 1.4em;
	padding: 0 0.7em;
	background-color: #efefef;
	border-radius: 0.7em;
}

.footer{
	text-align: center;
	background-color: #efefef;
	color: #ccc;
}


